# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

[package]
name = "bytesbuf"
description = "Manipulate sequences of bytes for efficient I/O."
version = "0.1.2"
readme = "README.md"
keywords = ["oxidizer", "buffers", "io", "zero-copy"]
categories = ["data-structures", "network-programming"]

edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[package.metadata.cargo_check_external_types]
allowed_external_types = [
    "bytes::bytes::Bytes",
    "bytes::buf::buf_impl::Buf",
    "bytes::buf::uninit_slice::UninitSlice",
    "bytes::buf::buf_mut::BufMut",
]

[features]
default = []
fakes = []

[dependencies]
bytes = { workspace = true, features = ["std"] }
infinity_pool.workspace = true
new_zealand.workspace = true
nm.workspace = true
smallvec = { workspace = true, features = ["const_new", "union"] }

[dev-dependencies]
alloc_tracker.workspace = true
criterion.workspace = true
libc.workspace = true
mutants.workspace = true
static_assertions.workspace = true
testing_aids = { path = "../testing_aids" }
windows-sys = { workspace = true }

[lints]
workspace = true

[[bench]]
name = "buf"
harness = false

[[bench]]
name = "global_pool"
harness = false

[[bench]]
name = "view"
harness = false
