<div align="center">
 <img src="./logo.png" alt="{{ crate | replace("_", " ") | title }} Logo" width="96">

# {{ crate | replace("_", " ") | title }}

[![crate.io](https://img.shields.io/crates/v/{{ crate }}.svg)](https://crates.io/crates/{{ crate }})
[![docs.rs](https://docs.rs/{{ crate }}/badge.svg)](https://docs.rs/{{ crate }})
[![MSRV](https://img.shields.io/crates/msrv/{{ crate }})](https://crates.io/crates/{{ crate }})
[![CI](https://github.com/microsoft/oxidizer/actions/workflows/main.yml/badge.svg?event=push)](https://github.com/microsoft/oxidizer/actions/workflows/main.yml)
[![Coverage](https://codecov.io/gh/microsoft/oxidizer/graph/badge.svg?token=FCUG0EL5TI)](https://codecov.io/gh/microsoft/oxidizer)
[![License](https://img.shields.io/badge/license-MIT-blue.svg)](../../LICENSE)
<a href="../.."><img src="../../logo.svg" alt="This crate was developed as part of the Oxidizer project" width="20"></a>

</div>

{{ readme }}

<hr/>
<sub>
This crate was developed as part of <a href="../..">The Oxidizer Project</a>. Browse this crate's <a href="https://github.com/microsoft/oxidizer/tree/main/crates/{{crate | title | lower}}">source code</a>.
</sub>

{{ links }}
