# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

[package]
name = "ohno"
description = "High-quality Rust error handling."
version = "0.2.0"
readme = "README.md"
keywords = ["oxidizer", "error", "backtrace"]
categories = ["data-structures"]

edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[package.metadata.cargo_check_external_types]
allowed_external_types = ["ohno_macros::*"]

[package.metadata.docs.rs]
all-features = true

[features]
test-util = []

[dependencies]
ohno_macros.workspace = true
typeid.workspace = true

[dev-dependencies]
anyhow.workspace = true
futures.workspace = true
mutants.workspace = true
regex = { workspace = true, features = [ "unicode-perl"] }
thiserror.workspace = true
tokio = { workspace = true, features = ["macros", "rt", "time", "rt-multi-thread"] }

[lints]
workspace = true
