# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

name: create-release

permissions:
  contents: write

on:
  push:
    tags:
    - '*-v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag to create a release for (e.g. "oxidizer-v1.2.3")'
        required: true

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.2

    - name: Install Rust
      uses: dtolnay/rust-toolchain@nightly

    - name: Create GitHub Release
      env:
        GH_TOKEN: ${{ github.token }}
      run: cargo +nightly -Zscript scripts/publish-gh-release.rs --repo "${{ github.repository }}" "${{ inputs.tag || github.ref_name }}"
