name: main
permissions:
  contents: read
  pull-requests: read
  security-events: write

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always
  RUST_MSRV: "1.88"                   # used for testing (ensures the MSRV promise is kept)
  RUST_LATEST: "1.91"                 # used for static analysis, mutation testing
  RUST_NIGHTLY: "nightly-2025-11-15"  # used for coverage, extended analysis, and external type exposure

jobs:
  testing:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v5
      - name: Start sscache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: "v0.12.0"
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_MSRV }}
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.53
        with:
          tool: cargo-hack@0.6.39

      # execute
      - name: Build
        run: cargo hack build --each-feature --workspace --verbose
      - name: Tests
        run: cargo test --verbose --workspace --all-features
      - name: Doc Tests
        run: cargo test --doc --verbose --workspace --all-features

  static-analysis:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v5
      - name: Cache Cargo Dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}
      - name: Start sscache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: "v0.12.0"
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_LATEST }}
          components: clippy, rustfmt
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.53
        with:
          tool: cargo-audit@0.22.0, cargo-rdme@1.5.0, cargo-workspaces@0.4.1

      # execute
      - name: Clippy
        id: clippy
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings
        continue-on-error: true
      - name: Audit
        id: audit
        run: cargo audit
        continue-on-error: true
      - name: Format
        id: format
        run: cargo fmt -- --check
        continue-on-error: true
      - name: Docs
        id: docs
        run: cargo doc --no-deps --workspace --all-features
        continue-on-error: true
      - name: Rdme
        id: rdme
        run: cargo workspaces exec cargo rdme --check --no-fail-on-warnings
        continue-on-error: true
      - name: Overall Analysis Results
        if: ${{ steps.clippy.outcome == 'failure' || steps.audit.outcome == 'failure' || steps.format.outcome == 'failure' || steps.docs.outcome == 'failure' || steps.rdme.outcome == 'failure' }}
        run: |
          echo "Static analysis step failed."
          exit 1

  extended-analysis:
    runs-on: ${{ matrix.os }}
    needs: [testing, static-analysis]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v5
      - name: Cache Cargo Dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust Nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_NIGHTLY }}
          components: miri
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.53
        with:
          tool: cargo-udeps@0.1.60

      # execute
      - name: Udeps
        id: udeps
        run: cargo +nightly udeps --all-features --workspace
        continue-on-error: true
      - name: Miri
        id: miri
        run: cargo +nightly miri test --all-features --workspace
        continue-on-error: true
      - name: Overall Analysis Results
        if: ${{ steps.udeps.outcome == 'failure' || steps.miri.outcome == 'failure' }}
        run: |
          echo "Static analysis step failed."
          exit 1

  mutation-testing:
    runs-on: ubuntu-latest
    needs: testing
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v5
      - name: Start sscache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: "v0.12.0"
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_LATEST }}
          components: clippy, rustfmt
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.53
        with:
          tool: cargo-mutants@25.3.1

      # execute
      - name: Mutate
        run: cargo mutants --test-workspace=true --colors=never --jobs=2 --build-timeout=120 --cap-lints=true

  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v5
      - name: Start sscache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: "v0.12.0"
      - name: Install Rust Nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain:  ${{ env.RUST_NIGHTLY }}
          components: llvm-tools-preview
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.53
        with:
          tool: cargo-llvm-cov@0.6.21

      # execute
      - name: Generate Coverage (all-features)
        run: cargo +nightly llvm-cov --all-features --workspace --lcov --output-path lcov.info
      - name: Generate Coverage (no-default-features)
        run: cargo +nightly llvm-cov --no-default-features --workspace --lcov --output-path lcov.info
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true

  pr-title:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Check PR Title
        uses: amannn/action-semantic-pull-request@v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            build
            chore
            ci
            doc
            docs
            feat
            fix
            misc
            miscellaneous
            perf
            refactor
            style
            task
            test

  license-headers:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Check License Headers
        uses: viperproject/check-license-header@v2.0.3
        with:
          path: .
          config: .github/license-check/config.json
          strict: true

  external-type-exposure:
    runs-on: ubuntu-latest
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Rust Nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain:  ${{ env.RUST_NIGHTLY }}
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.53
        with:
          tool: cargo-check-external-types@0.3.0

      # execute
      - name: Check External Type Exposure
        run: |
          for crate in crates/*; do
            if [ -f "$crate/Cargo.toml" ]; then
              if ! grep -q "^\\[lib\\]" "$crate/Cargo.toml"; then
                echo "Checking external types in $crate"
                cargo +${{ env.RUST_NIGHTLY }} check-external-types --manifest-path "$crate/Cargo.toml" --no-default-features
              else
                echo "Skipping $crate (contains [lib] section)"
              fi
            fi
          done
