name: main

permissions:
  contents: read
  pull-requests: read

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  constants:
    uses: ./.github/workflows/repo-constants.yml

  testing:
    needs: constants
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      <<: ${{ fromJSON(needs.constants.outputs.repo_constants_json) }}
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Cache Cargo Dependencies
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}
      - name: Start sccache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: ${{ env.SCCACHE_VERSION }}
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_MSRV }}
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.62
        with:
          tool: cargo-hack@${{ env.CARGO_HACK_VERSION }}

      # execute
      - name: Build
        run: cargo hack build --each-feature --workspace --verbose --locked --color always
      - name: Tests
        run: cargo test --verbose --workspace --all-features
      - name: Docs
        env:
          RUSTDOCFLAGS: -D warnings
        run: cargo doc --verbose --workspace --all-features
      - name: Doc Tests
        run: cargo test --doc --verbose --workspace --all-features

  static-analysis:
    needs: constants
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      <<: ${{ fromJSON(needs.constants.outputs.repo_constants_json) }}
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 2
      - name: Cache Cargo Dependencies
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}
      - name: Start sccache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: ${{ env.SCCACHE_VERSION }}
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_LATEST }}
          components: clippy, rustfmt
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.62
        with:
          tool: cargo-audit@${{ env.CARGO_AUDIT_VERSION }}, cargo-rdme@${{ env.CARGO_RDME_VERSION }}, cargo-workspaces@${{ env.CARGO_WORKSPACES_VERSION }}, cargo-ensure-no-default-features@${{ env.CARGO_ENSURE_NO_DEFAULT_FEATURES_VERSION }}, cargo-ensure-no-cyclic-deps@${{ env.CARGO_ENSURE_NO_CYCLIC_DEPS_VERSION }}, cargo-deny@${{ env.CARGO_DENY_VERSION }}, cargo-sort@${{ env.CARGO_SORT_VERSION }}, cargo-semver-checks@${{ env.CARGO_SEMVER_CHECKS_VERSION }}

      # execute
      - name: Clippy
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings
      - name: Audit
        run: cargo audit
      - name: Format
        run: cargo fmt -- --check
      - name: Cargo.toml Format
        run: cargo sort --check --grouped --workspace
      - name: Docs
        run: cargo doc --no-deps --workspace --all-features
      - name: Rdme
        run: cargo workspaces exec cargo rdme --check
      - name: Default Features
        run: cargo ensure-no-default-features
      - name: Cyclic Dependencies
        run: cargo ensure-no-cyclic-deps
      - name: Dependency Validation
        run: cargo deny --all-features --workspace --color always check all
#      - name: Semver Compatibility
#        run: cargo semver-checks --all-features --workspace --color always --baseline-rev HEAD^

  extended-analysis:
    if: github.event_name == 'pull_request'
    needs: [constants, testing, static-analysis]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      <<: ${{ fromJSON(needs.constants.outputs.repo_constants_json) }}
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Cache Cargo Dependencies
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust Nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_NIGHTLY }}
          components: miri
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.62
        with:
          tool: cargo-udeps@${{ env.CARGO_UDEPS_VERSION }}

      # execute
      - name: Udeps
        run: cargo +${{ env.RUST_NIGHTLY }} udeps --all-features --workspace --color always
      - name: Miri
        run: cargo +${{ env.RUST_NIGHTLY }} miri test --all-features --workspace

  mutation-testing:
    if: github.event_name == 'pull_request'
    needs: [constants, testing]
    runs-on: ubuntu-latest
    env:
      <<: ${{ fromJSON(needs.constants.outputs.repo_constants_json) }}
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
      - name: Cache Cargo Dependencies
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}
      - name: Start sccache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: ${{ env.SCCACHE_VERSION }}
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_LATEST }},nightly
      - name: Installing Wild Linker
        uses: davidlattimore/wild-action@0.7.0
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.62
        with:
          tool: cargo-mutants@${{ env.CARGO_MUTANTS_VERSION }}

      # execute
      - name: Generate PR diff
        run: git diff origin/main...HEAD >diff.txt
      - name: Mutate Diff
        env:
          DISABLE_T_REX: 1
        timeout-minutes: 45
        run: cargo +nightly -Zscript scripts/mutants.rs --in-place --in-diff diff.txt

  coverage:
    if: github.event_name == 'pull_request'
    needs: constants
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      <<: ${{ fromJSON(needs.constants.outputs.repo_constants_json) }}
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Cache Cargo Dependencies
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}
      - name: Start sccache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: ${{ env.SCCACHE_VERSION }}
      - name: Install Rust Nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_NIGHTLY }}
          components: llvm-tools-preview
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.62
        with:
          tool: cargo-llvm-cov@${{ env.CARGO_LLVM_COV_VERSION }}

      # execute
      - name: Generate Coverage (all-features)
        run: cargo +${{ env.RUST_NIGHTLY }} llvm-cov --all-features --workspace --lcov --output-path lcov-all.info
      - name: Generate Coverage (no-default-features)
        run: cargo +${{ env.RUST_NIGHTLY }} llvm-cov --no-default-features --workspace --lcov --output-path lcov-no-def.info
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov-all.info,lcov-no-def.info
          fail_ci_if_error: true

  pr-title:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Check PR Title
        uses: amannn/action-semantic-pull-request@v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            build
            chore
            ci
            doc
            docs
            feat
            fix
            misc
            miscellaneous
            perf
            refactor
            style
            task
            test

  license-headers:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Check License Headers
        uses: viperproject/check-license-header@v2
        with:
          path: .
          config: .github/license-check/config.json
          strict: true

  external-type-exposure:
    needs: constants
    runs-on: ubuntu-latest
    env:
      <<: ${{ fromJSON(needs.constants.outputs.repo_constants_json) }}
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Install Rust Nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_NIGHTLY_EXTERNAL_TYPES }}
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.62
        with:
          tool: cargo-check-external-types@${{ env.CARGO_CHECK_EXTERNAL_TYPES_VERSION }}

      # execute
      - name: Check External Type Exposure
        run: cargo +${{ env.RUST_NIGHTLY_EXTERNAL_TYPES }} -Zscript scripts/check-external-types.rs ${{ env.RUST_NIGHTLY_EXTERNAL_TYPES }}
