name: main

permissions:
  contents: read
  pull-requests: read

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  constants:
    uses: ./.github/workflows/repo-constants.yml

  testing:
    needs: constants
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      RUST_MSRV: ${{ needs.constants.outputs.RUST_MSRV }}
      RUST_LATEST: ${{ needs.constants.outputs.RUST_LATEST }}
      RUST_NIGHTLY: ${{ needs.constants.outputs.RUST_NIGHTLY }}
      RUST_NIGHTLY_EXTERNAL_TYPES: ${{ needs.constants.outputs.RUST_NIGHTLY_EXTERNAL_TYPES }}
      CARGO_HACK_VERSION: ${{ needs.constants.outputs.CARGO_HACK_VERSION }}
      SCCACHE_VERSION: ${{ needs.constants.outputs.SCCACHE_VERSION }}
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Cache Cargo Dependencies
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}
      - name: Start sccache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: ${{ env.SCCACHE_VERSION }}
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_MSRV }}
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.62
        with:
          tool: cargo-hack@${{ env.CARGO_HACK_VERSION }}

      # execute
      - name: Build
        run: cargo hack build --each-feature --workspace --verbose --locked --color always
      - name: Tests
        if: success() || failure()
        run: cargo test --verbose --workspace --all-features
      - name: Docs
        if: success() || failure()
        env:
          RUSTDOCFLAGS: -D warnings
        run: cargo doc --verbose --workspace --all-features
      - name: Doc Tests
        if: success() || failure()
        run: cargo test --doc --verbose --workspace --all-features

  static-analysis:
    needs: constants
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      RUST_MSRV: ${{ needs.constants.outputs.RUST_MSRV }}
      RUST_LATEST: ${{ needs.constants.outputs.RUST_LATEST }}
      RUST_NIGHTLY: ${{ needs.constants.outputs.RUST_NIGHTLY }}
      CARGO_AUDIT_VERSION: ${{ needs.constants.outputs.CARGO_AUDIT_VERSION }}
      CARGO_DENY_VERSION: ${{ needs.constants.outputs.CARGO_DENY_VERSION }}
      CARGO_DOC2README_VERSION: ${{ needs.constants.outputs.CARGO_DOC2README_VERSION }}
      CARGO_ENSURE_NO_CYCLIC_DEPS_VERSION: ${{ needs.constants.outputs.CARGO_ENSURE_NO_CYCLIC_DEPS_VERSION }}
      CARGO_ENSURE_NO_DEFAULT_FEATURES_VERSION: ${{ needs.constants.outputs.CARGO_ENSURE_NO_DEFAULT_FEATURES_VERSION }}
      CARGO_HACK_VERSION: ${{ needs.constants.outputs.CARGO_HACK_VERSION }}
      CARGO_SORT_VERSION: ${{ needs.constants.outputs.CARGO_SORT_VERSION }}
      CARGO_WORKSPACES_VERSION: ${{ needs.constants.outputs.CARGO_WORKSPACES_VERSION }}
      SCCACHE_VERSION: ${{ needs.constants.outputs.SCCACHE_VERSION }}
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 1
      - name: Cache Cargo Dependencies
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}
      - name: Start sccache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: ${{ env.SCCACHE_VERSION }}
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_LATEST }}
          components: clippy, rustfmt
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.62
        with:
          tool: cargo-audit@${{ env.CARGO_AUDIT_VERSION }}, cargo-doc2readme@${{ env.CARGO_DOC2README_VERSION }}, cargo-workspaces@${{ env.CARGO_WORKSPACES_VERSION }}, cargo-ensure-no-default-features@${{ env.CARGO_ENSURE_NO_DEFAULT_FEATURES_VERSION }}, cargo-ensure-no-cyclic-deps@${{ env.CARGO_ENSURE_NO_CYCLIC_DEPS_VERSION }}, cargo-deny@${{ env.CARGO_DENY_VERSION }}, cargo-sort@${{ env.CARGO_SORT_VERSION }}

      # execute
      - name: Clippy
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings
      - name: Audit
        if: success() || failure()
        run: cargo audit
      - name: Source Format
        if: success() || failure()
        run: cargo fmt -- --check
      - name: Cargo.toml Format
        if: success() || failure()
        run: cargo sort --check --grouped --workspace
      - name: Docs
        if: success() || failure()
        run: cargo doc --no-deps --workspace --all-features
      - name: Readmes
        if: success() || failure()
        run: cargo workspaces exec --ignore-private cargo doc2readme --check --lib --template ../README.j2
      - name: Default Features
        if: success() || failure()
        run: cargo ensure-no-default-features
      - name: Cyclic Dependencies
        if: success() || failure()
        run: cargo ensure-no-cyclic-deps
      - name: Dependency Validation
        if: success() || failure()
        run: cargo deny --all-features --workspace --color always check all

  semver:
    needs: constants
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    env:
      RUST_MSRV: ${{ needs.constants.outputs.RUST_MSRV }}
      RUST_LATEST: ${{ needs.constants.outputs.RUST_LATEST }}
      CARGO_SEMVER_CHECKS_VERSION: ${{ needs.constants.outputs.CARGO_SEMVER_CHECKS_VERSION }}
      SCCACHE_VERSION: ${{ needs.constants.outputs.SCCACHE_VERSION }}
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    permissions:
      pull-requests: write
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
      - name: Cache Cargo Dependencies
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}
      - name: Start sccache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: ${{ env.SCCACHE_VERSION }}
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_LATEST }}
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.62
        with:
          tool: cargo-semver-checks@${{ env.CARGO_SEMVER_CHECKS_VERSION }}

      # execute
      - name: Semver Compatibility
        id: semver
        continue-on-error: true
        run: |
          set -o pipefail
          cargo semver-checks --all-features --workspace --color never --baseline-rev origin/${{ github.base_ref }} 2>&1 | tee semver-output.txt

      # report
      - name: Prepare Semver Comment
        if: steps.semver.outcome == 'failure'
        run: |
          echo "## ⚠️ Breaking Changes Detected" > semver-comment.txt
          echo "" >> semver-comment.txt
          echo '```' >> semver-comment.txt
          grep -v "^ *Cloning " semver-output.txt | grep -v "^ *Building " | grep -v "^ *Built \[" | grep -v "^ *Parsing " | grep -v "^ *Parsed \[" | grep -v "^ *Checking" | grep -v "^ *Checked \[" | grep -v "^ *Finished \[" | grep -v "^ *Summary " >> semver-comment.txt
          echo '```' >> semver-comment.txt
          echo "" >> semver-comment.txt
          echo "If the breaking changes are intentional then everything is fine - this message is merely informative." >> semver-comment.txt
          echo "" >> semver-comment.txt
          echo "Remember to apply a version number bump with the correct severity when publishing a version with breaking changes (`1.x.x -> 2.x.x` or `0.1.x -> 0.2.x`)." >> semver-comment.txt

      - name: Post Semver Failure Comment
        if: steps.semver.outcome == 'failure'
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: semver-check
          path: semver-comment.txt

      - name: Remove Semver Comment on Success
        if: steps.semver.outcome == 'success'
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: semver-check
          delete: true

  extended-analysis:
    if: github.event_name == 'pull_request'
    needs: [constants, testing, static-analysis]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      RUST_MSRV: ${{ needs.constants.outputs.RUST_MSRV }}
      RUST_LATEST: ${{ needs.constants.outputs.RUST_LATEST }}
      RUST_NIGHTLY: ${{ needs.constants.outputs.RUST_NIGHTLY }}
      CARGO_UDEPS_VERSION: ${{ needs.constants.outputs.CARGO_UDEPS_VERSION }}
      SCCACHE_VERSION: ${{ needs.constants.outputs.SCCACHE_VERSION }}
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Cache Cargo Dependencies
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust Nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_NIGHTLY }}
          components: miri
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.62
        with:
          tool: cargo-udeps@${{ env.CARGO_UDEPS_VERSION }}

      # execute
      - name: Udeps
        run: cargo +${{ env.RUST_NIGHTLY }} udeps --all-features --workspace --color always
      - name: Miri
        if: success() || failure()
        run: cargo +${{ env.RUST_NIGHTLY }} miri test --all-features --workspace

  mutation-testing:
    if: github.event_name == 'pull_request'
    needs: [constants, testing]
    runs-on: ubuntu-latest
    env:
      RUST_MSRV: ${{ needs.constants.outputs.RUST_MSRV }}
      RUST_LATEST: ${{ needs.constants.outputs.RUST_LATEST }}
      RUST_NIGHTLY: ${{ needs.constants.outputs.RUST_NIGHTLY }}
      CARGO_MUTANTS_VERSION: ${{ needs.constants.outputs.CARGO_MUTANTS_VERSION }}
      SCCACHE_VERSION: ${{ needs.constants.outputs.SCCACHE_VERSION }}
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
      - name: Cache Cargo Dependencies
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}
      - name: Start sccache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: ${{ env.SCCACHE_VERSION }}
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_LATEST }},nightly
      - name: Installing Wild Linker
        uses: davidlattimore/wild-action@0.7.0
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.62
        with:
          tool: cargo-mutants@${{ env.CARGO_MUTANTS_VERSION }}

      # execute
      - name: Generate PR diff
        run: git diff origin/main...HEAD >diff.txt
      - name: Mutate Diff
        env:
          DISABLE_T_REX: 1
        timeout-minutes: 45
        run: cargo +nightly -Zscript scripts/mutants.rs --in-place --in-diff diff.txt

  coverage:
    needs: constants
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      RUST_MSRV: ${{ needs.constants.outputs.RUST_MSRV }}
      RUST_LATEST: ${{ needs.constants.outputs.RUST_LATEST }}
      RUST_NIGHTLY: ${{ needs.constants.outputs.RUST_NIGHTLY }}
      CARGO_LLVM_COV_VERSION: ${{ needs.constants.outputs.CARGO_LLVM_COV_VERSION }}
      SCCACHE_VERSION: ${{ needs.constants.outputs.SCCACHE_VERSION }}
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Cache Cargo Dependencies
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}
      - name: Start sccache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: ${{ env.SCCACHE_VERSION }}
      - name: Install Rust Nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_NIGHTLY }}
          components: llvm-tools-preview
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.62
        with:
          tool: cargo-llvm-cov@${{ env.CARGO_LLVM_COV_VERSION }}

      # execute
      - name: Generate Coverage (all-features)
        run: cargo +${{ env.RUST_NIGHTLY }} llvm-cov --all-features --workspace --lcov --output-path lcov-all.info
      - name: Generate Coverage (no-default-features)
        run: cargo +${{ env.RUST_NIGHTLY }} llvm-cov --no-default-features --workspace --lcov --output-path lcov-no-def.info
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov-all.info,lcov-no-def.info
          fail_ci_if_error: true

  pr-title:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Check PR Title
        uses: amannn/action-semantic-pull-request@v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            build
            chore
            ci
            doc
            docs
            feat
            fix
            misc
            miscellaneous
            perf
            refactor
            style
            task
            test

  license-headers:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Check License Headers
        uses: viperproject/check-license-header@v2
        with:
          path: .
          config: .github/license-check/config.json
          strict: true

  external-type-exposure:
    needs: constants
    runs-on: ubuntu-latest
    env:
      RUST_MSRV: ${{ needs.constants.outputs.RUST_MSRV }}
      RUST_NIGHTLY_EXTERNAL_TYPES: ${{ needs.constants.outputs.RUST_NIGHTLY_EXTERNAL_TYPES }}
      CARGO_CHECK_EXTERNAL_TYPES_VERSION: ${{ needs.constants.outputs.CARGO_CHECK_EXTERNAL_TYPES_VERSION }}
      SCCACHE_VERSION: ${{ needs.constants.outputs.SCCACHE_VERSION }}
    steps:
      # prep
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Install Rust Nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ env.RUST_NIGHTLY_EXTERNAL_TYPES }}
      - name: Install Cargo Tools
        uses: taiki-e/install-action@v2.62.62
        with:
          tool: cargo-check-external-types@${{ env.CARGO_CHECK_EXTERNAL_TYPES_VERSION }}

      # execute
      - name: Check External Type Exposure
        run: cargo +${{ env.RUST_NIGHTLY_EXTERNAL_TYPES }} -Zscript scripts/check-external-types.rs ${{ env.RUST_NIGHTLY_EXTERNAL_TYPES }}
